<?xml version="1.0"?>

<model>
  <name>suspension_test3</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Paul Bouchier</name>
    <email>paul.bouchier at gmail.com</email>
  </author>

  <description>
    A test harness for steering a 4-link suspension assembly
  </description>
</model>
